
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.product_variants
{
	width:80%;
}
#quick_buy_popup_modal 
{
	//display:none;
}
a.product_add
{
	background:#7796a8;
	border-color:#7796a8;
}
